body {
  background-color: #282c34;
  padding: 0;
}

.App {
  /* text-align: center; */
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}

.game-state {
  background-color: #666;
  position: absolute;
}

.npc-layer, .scenery-layer, .fx-layer {
  position: absolute;
}

.hero {
  position: absolute;
  transition: left .1s linear, top .1s linear;
}

.enemy {
  position: absolute;
  transition: left .1s linear, top .1s linear;
}

.scenery {
  background-color: #000;
}

.bullet {
  width: 5px;
  height: 5px;
  background-color: orange;
  position: absolute;
}
